@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
nav{
    height:80px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 500;
}
nav ul{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0px 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 10px;
    transform: all 0.4s ease;
}
nav ul li a:hover,
nav ul li a.active{
    color: #1b1b1b;
    background: #fff;
}
nav .menu-btn {
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}


.parent-sec{
    height:fit-content;
    border-radius: 10px;
    border-color: #111;
    border-style: solid;
    margin-top: 10px;
    z-index: 1000;
}
.detail{
    height: 500px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    border-color: #111;
    border-style:solid;
    border-width: 2px;
    box-shadow: 10px 10px 	#D3D3D3; 
}
#prof-img{
    height: 400px;
    width:auto;
    border-radius: 20%;
}
#disc{
    width: 700px;
    display: inline-block;
    border-color: #111;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
}
#pic{
    width: 350px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}




@media (max-width:940px){
    nav .menu-btn {
        display:block;
    }
    nav{
        padding: 0px 12px;
    }
    nav .logo{
        font-size: 20px;
        font-weight: 400;
    }
    nav ul{
        position: fixed;
        top:70px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s ease;
    }
    #click:checked ~ ul{
        left:0%;
    }
    nav ul li{
        margin: 40px 0px;
    }
    nav ul li a{
        font-size: 18px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;
    }
    #disc{
        width: 350px;
    }
    #prof-img{
        height: 350px;
    }
}